/Homework_1/nbproject/private/
/clases/XYZ/
/Homework_1/build/
/Store/nbproject/private/
/Store/build/
/FirstPartialExercises/nbproject/private/
/FirstPartialExercises/build/
/Class/nbproject/private/
/Class/build/
/OlimpiaTec/nbproject/private/
/OlimpiaTec/build/
/BBB/nbproject/private/
/big belly burger/nbproject/private/
/telefonos/nbproject/private/
/telefonos/build/
/BBB/dist/